body {
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    line-height: 22px;
    color: #323232;
    min-width: 1200px;
    background-color: #849d8f;
}

body > input[type="radio"] {
    display: none;
}

h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}

.site-wrapper {
    background: #849d8f url("../img/slider-ice-cream-1.png") top center no-repeat ;
    min-width: 1200px;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before, .site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
  background-image: url("slide-2.png");
}

.site-wrapper::after {
  background-image: url("slide-3.png");
}

.container {
    margin: 0 auto;
    width: 1146px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*Header*/

.main-header {
}

.main-header-logo {
    float: left;
    width: 154px;
    height: 64px;
    padding-top: 9px;
    margin-right: 13px;
}

.main-navigation {
   float:left;
	width:500px;
	margin: 0;
	padding: 0;
}

.main-navigation > li {
	display:inline-block;
	position:relative;
	margin-left:0px;
    margin-top: 10px;
	padding:13px 0px;
	vertical-align: top;
}

.main-navigation > li > a {
	display:inline-block;
	font-size: 16px;
	line-height: 18px;
	padding: 7px 12px;
	border-radius:18px;
	color:#ffffff;
	font-weight: 700;
}

.main-navigation>li>a:hover {
	background-color: #f7f6f3;
	color:#333333;	
	text-decoration: none;
}

.main-navigation>li>a:active {
	background-color: #ededed;
	color:#333333;	
	text-decoration: none;
	box-shadow:inset 0px 2px 1px rgb(105,105,105);
}

.sub-menu {
	position:absolute;
	left:-7px;
	width:143px;
	background-color: #f8f7f4;
	z-index:20;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	padding-bottom: 8px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	display:none;
	
}
.main-navigation li li {
	display: block;
}

.sub-menu li {
	padding-top: 3px;
}

.sub-menu li:first-child {
	font-weight: 700;
	font-size:14px;
	line-height: 14px;
	padding:5px 0 7px 0;
	position:relative;
}

.sub-menu li:first-child::after {
	content:"";
	position:absolute;
	right:6px;
	bottom:0;
	left:9px;
	height:1px;
	background-color: #d1d0ce;
}

.sub-menu li a {
	display: inline-block;
	width:100%;
	box-sizing:border-box;
	padding: 6px 20px;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	text-decoration:none;
	background-color: transparent;
}

.sub-menu .active-product a {
	background-color: #d07058;
	color: #ffffff;
}

.sub-menu li a:hover {
	background-color: #fbded7;
}

.sub-menu li a:active {
	background-color: #f6b5a5;
}

.main-navigation>li:hover .sub-menu {
	display:block;
}

.active-page a {
	background-color: #d07058;
	color:#ffffff;	
	text-decoration: none;
}

.sub-menu li > .active-list-item {
    background-color: #d07058;
}

.user-panel {
    float: right;
    width: 267px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.user-panel ul {
    margin: 0px;
    padding: 0px;
}

.user-panel li {
    padding-bottom: 15px;
}

.user-search-btn a {
    display: inline-block;
    font-size: 0;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, .2) url("../img/icon-searh.png") no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 23px;
}

.user-search-btn {
    position: relative;
}

.user-search-btn a:hover {
    background: #f8f7f4 url("../img/icon-searh-hover.png") no-repeat;
    background-position: center;
}

.user-search-form {
    position: absolute;
    width: 312px;
    right: 0;
    margin-top: 5px;
    padding: 20px 15px;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    border-radius: 4px;
    background-color: #f8f7f4;
    display: none;
    z-index: 10;
    
}

.user-search-form input {
    border: 1px solid #d3d3d2;
    border-radius: 4px;
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 10px;
    
}

.user-search-btn:hover .user-search-form {
    display: block;
}

.user-search-btn:hover .user-search-form {
    display: block;
}

.user-enter-btn {
    position: relative;
}

.user-enter-btn > a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: 48px;
    height: 24px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 44px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
    position: relative;
    margin-top: 4px;
    margin-right: 4px;
}

.user-enter-btn > a::before {
    content: "";
    width: 21px;
    height: 19px;
    background: url("../img/icon-enter.png");
    position: absolute;
    left: 15px;
}

.user-enter-btn a:hover {
    background-color: #f8f7f4;
    color: #323232;
}

.user-enter-btn a:hover::before {
    background: url("../img/icon-enter-hover.png");
}


.user-enter-form {
    position: absolute;
    right: 0;
	width: 240px;
	background-color: #f8f7f4;
	padding-top: 20px;
	padding-right: 17px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 5px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	font-size: 14px;
	line-height: 24px;
	color: #999999;
    z-index: 10;
    display: none;
}

.user-enter-btn:hover .user-enter-form {
    display: block;
}

.user-enter-form input {
    display: inline-block;
    vertical-align: top;
	box-sizing:border-box;
	width:100%;
	border-radius:4px;
	border:1px solid #d3d3d2;
	padding-top: 7px;
	padding-right: 14px;
	padding-bottom: 11px;
	padding-left: 13px;
	margin-bottom: 20px;
}

.enter button[type="submit"] {
    float: left;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ef5e3f;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    float: right;
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(172, 16, 0, 0.64);
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 22px;
    cursor: pointer;
}

.enter button[type="submit"]:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.enter button[type="submit"]:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.enter-links {
    float: right;
}

.enter-links a {
    display:block;
	font-size: 13px;
	line-height: 21px;
	color:#323232;
}

.user-basket-btn {
    position: relative;
}

.user-basket-btn > a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: 58px;
    height: 24px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 40px;
    padding-right: 17px;
    vertical-align: top;
    background: rgba(255, 255, 255, .2);
    border-radius: 20px;
    position: relative;
    margin-top: 4px;
    margin-left: 5px;
}

.user-basket-btn > a:hover {
    background: #f8f7f4;
    color: #323232;
}

.user-basket-btn > .basket-full {
    background: #f7f6f3;
    color: #323232;
}

.user-basket-btn > a::before {
    content: "";
    width: 21px;
    height: 20px;
    background: url("../img/icon-basket.png") no-repeat;
    position: absolute;
    left: 15px;
}

.user-basket-btn > .basket-full::before {
    background: url("../img/icon-basket-active.png") no-repeat;
}

.user-basket-btn > a:hover::before {
    background: url("../img/icon-basket-active.png");
}

.user-basket-form {
    position: absolute;
    right: 0;
    top: 36px;
	background-color: #f8f7f4;
	padding: 20px 12px 10px 15px;
	margin-top: 5px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	font-size: 14px;
	line-height: 24px;
	color: #999999;
    width: 512px;
    z-index: 10;
    display: none;
}

.basket-table {
	border-collapse: collapse;
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 12px;
	width: 100%;
}
.basket-table td {
    vertical-align: top;
}

.col-1 {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 16px;
}

.col-2 {
	padding-right: 5px;
	padding-bottom: 16px;
}	

.col-3 {
	padding-top:8px;
	padding-right:12px;
	width: 230px;
	padding-bottom: 16px;
}	

.col-4 {
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 16px;
}	

.col-5 {
	padding-top: 8px;
	padding-bottom: 16px;
	padding-right: 10px;
}	

.total-row {
	padding-top: 15px;
	text-align: right;
	border-top: 1px solid #cacac7;
	color: #333333;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
}

.delete {
    background: url(../img/x.png);
    width: 11px;
    height: 11px;
    display: block;
    margin-top: 9px;
}

.user-basket-form .btn {
    border: 1px solid #ee5c3e;
    cursor: pointer;
    font-weight: 600;
    padding-left: 1px;
    padding-right: 1px;
    width: 173px;
    margin-bottom: 10px;
}

.user-basket-btn:hover .user-basket-form {
	display: block;
}

.user-panel p {
    float: right;
    margin: 0px;
    padding: 0px;
}

.phone {
    font-size: 22px;
}

.user-panel li {
    display: inline-block;
}

/*Index-page*/
/*Main*/

.slider{
    position: relative;
    padding-top: 270px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 38px;
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 33px;
}

.slide-btn {
    display: inline-block;
    vertical-align: top;
    padding: 19px 40px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 14px;
    left: 3px;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 7px;
    cursor: pointer;
    background-color: transparent;   
}

.slider-controls label:hover {
    background-color: rgba(255, 255, 255, .4);
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-ice-cream-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-ice-cream-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-ice-cream-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

.promo {
    margin-bottom: 40px;
    padding-top: 11px;
} 

.promo-left-section {
    float: left;
    width: 520px;
    background: #bf3e54 url("../img/bg-raspberri.jpg") center;
    color: #ffffff;
    padding: 20px;
    padding-top: 14px;
    border-radius: 15px;
}

.promo-right-section {
    float: right;
    width: 520px;
    background: #49291c url("../img/bg-chocolate.jpg") center;
    color: #ffffff;
    padding: 20px;
    padding-top: 14px;
    border-radius: 15px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    float: right;
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    
}

.promo p {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 45px;
}

.products {
}

.item {
    float: left;
    width: 267px;
    margin-right: 26px;
    margin-bottom: 40px;
    position: relative;
}

.quiq-view {
    position: absolute;
    width: 293px;
    height: 406px;
    right: -13px;
    top: -8px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    z-index: 1;
    display: none;
}

.quiq-view .btn {
    position: absolute;
    bottom: 15px;
    left: 37px;
    z-index: 2;
}

.item:hover .quiq-view {
    display: block;
}

.item figure {
    margin: 0;
    padding: 0;
}

.item-photo {
    position: relative;
    
}

.item-photo img {
    border-radius: 150px;
    width: 267px;
    height: 267px;
}

.hit::before {
    width: 61px;
    height: 61px;
    background: url("../img/icon-hit.png");
    content: "";
    position: absolute;
}

.item:last-child {
    margin-right: 0;
}

.item-price {
    color: #ffffff;
    display: inline;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    position: absolute;
    bottom: 15px;
}

.kg {
    font-size: 30px;
}

.item p {
    text-align: center;
    margin: 0px;
    margin-top: 7px;
}

.item-title {
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.item-title:hover {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,.2);
}


.features {
    background: url("../img/pattern-1.jpg");
    width: 1114px;
    padding-top: 27px; 
    padding-bottom: 27px;
    padding-left: 21px;
    padding-right: 11px;
    margin-bottom: 40px;
    border-radius: 15px;
    font-size: 16px;
}

.features h2 {
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    
}

.features p {
    margin: 0;
    padding: 0;
    margin-bottom: 21px;
    position: relative;
}

.features p:nth-child(2) {
    margin-bottom: 0px;
}

.features-section-left {
    float: left;
    width: 483px;
    margin-left: 57px;
}

.features-post-1::before {
    width: 49px;
    height: 49px;
    background: url("../img/features-logo-1.png");
    position: absolute;
    content: "";
    left: -57px;
    top: -16px;
}

.features-post-3::before {
    width: 49px;
    height: 49px;
    background: url("../img/features-logo-3.png");
    position: absolute;
    content: "";
    left: -57px;
    top: -16px;
}

.features-post-2::before {
    width: 49px;
    height: 49px;
    background: url("../img/features-logo-2.png");
    position: absolute;
    content: "";
    left: -57px;
    top: -16px;
}

.features-post-4::before {
    width: 49px;
    height: 49px;
    background: url("../img/features-logo-4.png");
    position: absolute;
    content: "";
    left: -57px;
    top: -16px;
}

.features-section-right {
    float: right;
    width: 472px;
    margin-right: 25px;
}

.blog-section {
    margin-bottom: 40px;
}

.blog-section p {
    margin: 0px;
    padding: 0px;
}

.blog-section-new {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.blog-section-left {
    background: url("../img/bg-strawberry.jpg");
    float: left;
    width: 540px;
    min-height: 200px;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 26px;
}


.blog-section-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
    border-bottom: 2px solid #323232;
    text-decoration: none;
}

.blog-section-title:hover{
    color: #e84d37;
    border-bottom: 2px solid rgba(232, 77, 55, .1);
}

.section-wrapper {
    float: left;
    border-radius: 15px;
    overflow: hidden;
}

.blog-section-right {
    float: left;
    background-color: #f8f7f4;
    border-radius: 20px;
    width: 508px;
    font-size: 14px;
    line-height: 22px;
    color: #5a5a5a;
    padding-top: 31px;
    padding-bottom: 35px;
    padding-left: 21px;
    padding-right: 21px;
    border: 5px solid white;
    border-image-source: url("../img/post-bg.jpg");
    border-image-slice:  5;
    font-size: 16px;font-size: 16px;
}

.subscribe > input[type="email"] {
    font-size: 16px;
    color: black;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 342px;
    margin-top: -3px;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
}

.subscribe > input[type="submit"] {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    float: right;
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -8px;
    border: 1px solid #f06140;
    cursor: pointer;   
}

.subscribe > input[type="submit"]:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.subscribe > input[type="submit"]:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.blog-section-right p {
    margin-bottom: 38px;
}

.contacts {
    background: url("../img/map.jpg");
    margin: 0 auto;
    width: 1146px;
    height: 306px;
    padding: 62px 27px;
    position: relative;
}

.contacts:before {
    position: absolute;
    width: 218px;
    height: 142px;
    background: url("../img/icon-ice-cream.png") no-repeat;
    content: "";
    left: 268px;
    top: 138px;    
}

.feedback {
    background-color: #fdfefe;
    border-radius: 12px;
    float: right;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 26px;
    padding-right: 25px;
    font-size: 14px;
    line-height: 20px;
}

.feedback p {
    margin: 0px;
    padding: 0px;
}

.feedback-address {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 12px;
}

.feedback-phone {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px; 
}

.feedback > .btn {
    margin-top: 23px;
    width: 205px; 
    text-align: center;
}

.feedback-form-section {
    background-color: #f8f7f4;
    width: 451px;
    position: absolute;
    left: 300px;
    top: 0;
    padding-left: 24px;
    padding-top: 23px;
    padding-bottom: 25px;
    border-radius: 10px;
    display: none;
}

.feedback-form-section-show {
    display: block;
    animation: fly 0.6s;
}

.feedback-form-title {
    color: #323232;
    font-size: 24px;
    margin-bottom: 24px;
    position: relative;
}

.feedback-cross {
    position: absolute;
    content: "";
    background: url(../img/cross.png);
    width: 18px;
    height: 17px;
    right: 15px;
    top: 15px;
}

.feedback-form-section input[type="text"] {
    padding-left: 13px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 245px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #d3d3d2;
}

.feedback-form-section textarea {
    font-size: 16px;
    padding-left: 13px;
    padding-top: 11px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    width: 410px;
    max-width: 410px;
    height: 127px;
    border-radius: 4px;
    border: 1px solid #d3d3d2;
}

.feedback-form > input[type="submit"]  {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    float: right;
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 24px;
    border: 1px solid #f06140;
    cursor: pointer;   
    width: 140px;
}

.feedback-form > input[type="submit"]:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback-form > input[type="submit"]:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Form-Animation*/

@keyframes fly {
    0% {
        transform: translateY(2000px);
    }
    
    70% {
        transform: translateY(30px);
    }
    
    90% {
        transform: translateY(-10px);
    }
    
    100% {
        transform: translateY(0);
    }
}

/*Catalog-page*/

.breadcrumbs {
    margin: 0px;
    padding: 0px;
    width: 300px;
    font-size: 14px;
    margin-top: -20px;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    margin-right: 21px;
}

.breadcrumbs a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: relative;
}

.breadcrumbs a:hover {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,.2);
}

.breadcrumbs a:after {
    content: "»";
    position: absolute;
    right: -15px;
}

.breadcrumbs a:hover:after {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 35px;
}

.filter { 
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 23px;
}

.filter-sorting {
    width: 194px;
    float: left;
    margin-bottom: 20px;
    margin-right: 16px;
}

.filter-title {
    font-size: 14px;
    padding-left: 14px;
    display: inline-block;
    vertical-align: top;
}

.filter-sorting-control {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
    width: 193px;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.filter-sorting select {
    background-color: rgba(255, 255, 255, .2);
}

.filter-sorting-control:hover {
    background-color: #ffffff;
    color: #323232;
}

.filter-price {
    width: 220px;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
}

.filter-price-control {
    font-size: 14px;
}

.filter-price-control input {
    display: inline-block;
    width: 30px;
    vertical-align: top;
    background: none;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    min-width: 30px;
    cursor: pointer;
    
}

.filter-price-range {
    background-color: rgba(255, 255, 255, .2);
    position: relative;
    width: 190px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.filter-price-range .scale {
    height: 4px;
    background-color: #d1dad3;;
    width: 190px;
}

.filter-price-range .bar {
    width: 115px;
    height: 4px;
    position: absolute;
    background-color: #ffffff;
    left: 35px;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #f8f7f4;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle-min {
    left: 33px;
    top: 10px;
}

.range-toggle-max {
    left: 131px;
    top: 10px;
}

.filter-fatness {
    float: left;
    margin-bottom: 25px;    
}

.filter-fatness-options {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
}

.filter-fatness-options label {
    margin-right: 15px;
}

.filter-fatness-options [type="radio"] {
    display: none;
}

.filter-fatness-options [type="radio"] + label span {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: top;
    background: url("../img/radio-off.png") no-repeat;
    cursor: pointer;
    margin-right: 10px;
}

.filter-fatness-options [type="radio"] + label span:hover {
    background: url("../img/radio-off-hover.png") no-repeat;
}

.filter-fatness-options [type="radio"]:checked + label span {
    background: url("../img/radio-on.png") no-repeat;
}

.filter-fatness-options [type="radio"]:checked + label span:hover {
    background: url("../img/radio-on-hover.png") no-repeat;
}

.filter-toppings {
    min-width: 702px;
    float: left;
    margin-bottom: 20px;
}

.filter-toppings .filter-title {
    padding: 0px;
    margin-top: -9px;
    margin-left: 4px;
}

.filter-toppings-options {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
    margin-top: -7px;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 15px;
}

.filter-toppings .filter-title {
    padding: 0px;
}

.filter-toppings-options label {
    margin-right: 17px;
}

.filter-toppings-options [type="checkbox"] {
    display: none;
}

.filter-toppings-options [type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url("../img/checkbox-off.png") no-repeat;
    margin-right: 12px;
    cursor: pointer;
} 

.filter-toppings-options [type="checkbox"] + label span:hover {
    background: url("../img/checkbox-off-hover.png") no-repeat;
}

.filter-toppings [type="checkbox"]:checked + label span {
    background: url("../img/checkbox-on.png") no-repeat;
} 

.filter-toppings [type="checkbox"]:checked + label span:hover {
    background: url("../img/checkbox-on-hover.png") no-repeat;
}

.choice-btn {
    float: left;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 16px;
    color: #ffffff;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 2px solid #ffffff;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 15px;
}

.choice-btn:hover {
    background-color: #fbfcfb;
    color: #323232;
}

.choice-btn:active {
    background-color: #eaeaea;
    color: #323232;
    box-shadow: inset 0 1px 2px #7d7e7d;
}

.paginator {
    float: right;
    margin-top: 36px;
    margin-bottom: 30px;
    width: 190px;
    list-style: none;
    color: #ffffff;
}

.paginator a {
    display: inline-block;
    color: #ffffff;
    float: left;
    width: 27px;
    height: 23px;
    text-decoration: none;
    vertical-align: bottom;
    text-align: center;
    padding-top: 3px;
}

.paginator .active {
    background: #ffffff;
    border-radius: 50%;
    color: #323232;
}

.paginator .active:hover {
    background: #ffffff;
    border-radius: 50%;
    color: #323232;
}

.paginator a:hover {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50%;
}

.paginator-left {
    display: inline-block;
    font-size: 0;
    background: url("../img/paginator-left.png") no-repeat;
    width: 9px;
    height: 14px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.paginator-right {
    display: inline-block;
    font-size: 0;
    background: url("../img/paginator-right.png") no-repeat;
    width: 9px;
    height: 14px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

.paginator-right a:hover {
    background: #849d8f url("../img/paginator-right.png") no-repeat;
    width: 9px;
    height: 14px;
}

.paginator-left a:hover {
    background: #849d8f url("../img/paginator-left.png") no-repeat;
    width: 9px;
    height: 14px;
}

/*Footer*/

.main-footer {
    padding-top: 18px;
    padding-bottom: 28px;
}

.footer-social {
    width: 190px;
    float: left;
    margin-top: 18px;
    margin-right: 235px;
}

.lane {
    border-top: 1px solid rgba(255, 255, 255, .2)
}

.shadow:active {
    box-shadow: inset 0 3px 5px #9c9c9c;
}

.social-btn-tw {
    font-size: 0px;
    width: 38px;
    height: 38px;
    background: url("../img/tw.png") no-repeat;
    margin-right: 8px;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
}

.social-btn-insta {
    font-size: 0px;
    width: 38px;
    height: 38px;
    background: url("../img/insta.png") no-repeat;
    margin-right: 8px;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
}

.social-btn-fb {
    font-size: 0px;
    width: 38px;
    height: 38px;
    background: url("../img/fb.png") no-repeat;
    margin-right: 8px;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
}

.social-btn-vk {
    font-size: 0px;
    width: 38px;
    height: 38px;
    background: url("../img/vk.png") no-repeat;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
}

.footer-links {
    width: 350px;
    float: left;
    margin-top: 18px;
    font-weight: normal;
}

.footer-links ul {
    margin: 0px;
    padding: 0px;
    margin-top: -8px;
}

.footer-links li {
    display: inline-block;
}

.footer-links li:nth-child(3) {
    margin-right: 42px;
}

.footer-links a{
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer-links a:hover {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,.2);
}

.footer-links li:first-child {
    margin-right: 30px;
    margin-bottom: 2px;
    position: relative;
    font-weight: 700;
}

.footer-links li:first-child::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/heart.png") no-repeat;
    left: -22px;
    top: 6px;
}

.footer-links li:nth-child(4) {
    margin-right: 41px;
}

.footer-copyright {
    width: 190px;
    float: right;
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    
}

.footer-copyright p {
    margin: 0px;
    padding: 0px;
    margin-top: 3px;
}
